<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfApplication1.Properties.Settings>
            <setting name="unodostres" serializeAs="String">
                <value>Administrador</value>
            </setting>
            <setting name="ComercialHabilitado" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComercialRuta" serializeAs="String">
                <value />
            </setting>
            <setting name="ContabilidadHabilitado" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContabilidadRuta" serializeAs="String">
                <value />
            </setting>
            <setting name="FEHabilitado" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FERuta" serializeAs="String">
                <value />
            </setting>
            <setting name="BancosHabilitado" serializeAs="String">
                <value />
            </setting>
            <setting name="BancosRuta" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminpaqHabilitado" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminpaqRuta" serializeAs="String">
                <value />
            </setting>
            <setting name="NominasHabilitado" serializeAs="String">
                <value />
            </setting>
            <setting name="NominasRuta" serializeAs="String">
                <value />
            </setting>
            <setting name="ProduccionHabilitado" serializeAs="String">
                <value />
            </setting>
            <setting name="ProduccionRuta" serializeAs="String">
                <value />
            </setting>
            <setting name="XMLHabilitado" serializeAs="String">
                <value />
            </setting>
            <setting name="XMLRuta" serializeAs="String">
                <value />
            </setting>
        </WpfApplication1.Properties.Settings>
    </userSettings>
</configuration>